body {
    background-color: #FFFFFF;
    font-family: 'Roboto Slab';
    color: #222;
    margin: 10px;
}

body > * {
    padding: 10px;
}

h1 {
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    font-size: 28px;
}

  h1 > a {
    color: #777;
  }

h2, h3 {
    line-height: 2em;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 25px 0;
}

header {
    flex: 0.25;
    color: #777;
}

@media (min-width: 1000px) {
    .container {
        display: flex;
    }

    header {
        margin-top: 50px;
    }
}

main {
    flex: 0.75;
}

blockquote {
    background: #ededed;
    border: 0;
    padding: 1em;
    margin: 20px 0;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

code {
    background-color: #eee;
    color: black;
}

pre {
    margin: 20px 0;
    font-size: 12px;
    background-color: #2a2a2a;
    border: 0;
    border-radius: 0;
}

  pre code {
      background-color: #2a2a2a;
      font-family: 'Roboto Mono';
      color: white;
  }
