body {
    background-color: #FFFFFF;
    font-family: 'Roboto Slab';
    color: #222;
    margin: 0;
}

body > * {
    padding: 10px;
}

h1 {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

  h1 > a {
    color: #222;
  }

h2, h3 {
    line-height: 2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 25px 0;
}

blockquote {
    background: white;
    border-left: 5px solid #ccc;
    padding: 1em;
}

code {
    background-color: #EEEEEE;
    color: black;
}

pre {
    margin: 20px 0;
    font-size: 0.8em;
}
