.j {
    position: relative;
    width: 300px; 
    height: 300px;
}

    .j .p {
        position: absolute;
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 10px;
    }